<li class="endpoint-item noun-post">
  <div class="endpoint-heading">
    <span class="noun fleft">POST</span>
    <span class="endpoint-name fleft">/api/dragons/</span>
  </div>
  <div class="endpoint-content">
    <h3>Request Body</h3>
<pre>
{
  "name": String,
  "type": String,
  "histories": [String, String, ...]
}
</pre>

    <h3>Response Body</h3>
<pre>
{
  "__v": 0,
  "name": "Dragão (Shrek)",
  "type": "Fire",
  "created_at": "2015-05-23T19:46:24.238Z",
  "slug": "dragao-shrek",
  "_id": "5560d9109473a37d390dead1",
  "histories": [ ]
}
</pre>
  </div><!-- .endpoint-content -->
</li>
